<h1>this is the show page</h1>


<div>{{car.make}}</div> <br>
<div>{{car.model}}</div> <br>
<img src={{car.image}}  alt=""><br>
<a href="{{car.id}}/edit"><button class="btn" >Edit Car</button></a>
<form action="/{{car.id}}?_method=DELETE" method="POST">
<button class="btn">Delete Car</button></form>
